<div class="login large-3 large-centered medium-8 medium-centered columns" style="display: flex; align-items: center; height: 100%;">
    <div style="width: 100%;">
        {{login-form callback=(action "loggedInSuccessfully")}}
    </div>
</div>