<div style="display:flex; flex-wrap: wrap; justify-content: center;">
    {{#each characters as |character|}}
        <div style="margin: 5px; margin-top: 10px; width: 400px;">
            {{character-summary character=character}}
        </div>
    {{/each}}
</div>